# Django Backend
Django>=5.2,<6
djangorestframework>=3.15
django-cors-headers>=4.3

# JWT Authentication
djangorestframework-simplejwt>=5.3

# Database
psycopg2-binary>=2.9
dj-database-url>=2.1

# Production Server
gunicorn>=21.0
whitenoise>=6.6

# HTTP Client for TMDB
requests>=2.31

# Environment Variable Support
python-decouple

# Email Provider
resend>=2.19.0